<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
    
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %M - %msg%n"/>
        </Console>

        <File name="File" fileName="/Users/aswin-pt7698/eclipse-workspace/MovieBookingSystem/logs/app.log" append="true">
            <PatternLayout pattern="%d %p %c{1.} [%t] %M - %m%n"/>
        </File>

    </Appenders>

    <Loggers>

        <Logger name="com.tk" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>